

.About-Content{
    font-family: "Nunito-Bold";
    color: rgb(246, 0, 0);
    font-size: 40px;
}

.About-Text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcomeText{
    font-size: 25px;
    font-weight: 500;
    border-bottom: 2px solid black;
}

.aboutText{
    font-size: large;
    font-weight: 500;
}