.App {
  text-align: center;
  background-image: url('./images/Web water mark.png');
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Product-list{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  margin: 20px;
}

.card{
  width:250px;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px gray;
}
.card img{
  width:100%;
  height:250px;
  object-fit: contain ;
}

/* #bgvid {
  position: fixed; 
  left: 0; 
  top: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -1000;
  background-size: cover;
} */


#bgvid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the video stays behind other content */
}

/* Adjust the z-index of other elements to ensure they stay above the video */
.your-tabs-class {
  z-index: 1;
}

.your-data-class {
  z-index: 1;
}
